#FirstNav {

}
#SecondNav {

  top: 56px;
}

body {
  position: relative;
}

#SecondNav .active {
  border-bottom: 2px solid #fff;
}



section.resume-section {
  display: flex;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  max-width: 75rem;
}
