<body data-spy="scroll" data-target="SecondNav">

    <nav class="navbar sticky-top navbar-expand-sm navbar-dark bg-dark" id="FirstNav">
      <div class="container">
        <a class="navbar-brand" href="{{site.baseurl}}/index.html">Knut Arild Bjørn</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="{{site.baseurl}}/code_projects.html">Coding Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Dashboard Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Code Notes</a>
            </li>


          </ul>

        </div>

        </div>
    </nav>

    <nav class="navbar sticky-top navbar-expand-sm navbar-dark bg-dark d-none d-md-block" id="SecondNav">
      <div class="container">
        <ul class="navbar-nav  mr-auto">
          <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
          <li class="nav-item"><a class="nav-link" href="#experience">Experience</a></li>
          <li class="nav-itemr"><a class="nav-link" href="education">Education</a></li>
          <li class="nav-item"><a class="nav-link" href="#skills">Skills</a></li>
        </ul>
      </div>
    </nav>
