<nav class="navbar sticky-top navbar-expand-sm navbar-dark bg-dark d-none d-md-block" id="SecondNav">
  <div class="container">
    <ul class="navbar-nav  mr-auto">
      <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
      <li class="nav-item"><a class="nav-link" href="#experience">Experience</a></li>
      <li class="nav-itemr"><a class="nav-link" href="#education">Education</a></li>
      <li class="nav-item"><a class="nav-link" href="#skills">Skills</a></li>
    </ul>
  </div>
</nav>
